@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

$theme-color: #277f6a; /*Orig*/
/*color: #00756a ;*/ /*alternative color found*/
$theme-color-dark: #1a5e4e; /*dark*/
$theme-color-black: #333e49; /*black*/
$theme-color-light: rgba(39, 127, 106, 0.75); /*black*/


a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    /*    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;*/
    /*font: inherit;*/
    /*    vertical-align: baseline;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-variant-caps: inherit;
    font-variant-numeric: inherit;
    font-variant-east-asian: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;*/
}

:root {
    --animation_duration: 0.4s;
    --question_height: 150px;
    --section_height: 421px;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    height: 100%;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background-color: #EEF1F5; /*#f2f4f5*/
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,sans-serif;
    font: 14px/18px -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,sans-serif;
    color: $theme-color-black;
    overflow-y: auto;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    height: 100%;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .container {
        max-width: none;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .container {
        max-width: none;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .container {
        max-width: none;
    }
}

/* large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}

/* extra large devices (large desktops, 1600px and up)*/
@media screen and (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}
/* extra large devices (large desktops, 1800px and up)*/
@media screen and (min-width: 1600px) {
    .container {
        max-width: 1300px;
    }
}


@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        /*flex-direction: row;*/
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    /*    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }*/

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}


/*SIDE NAV*/

.sidenav .faux-link, .sidenav a, .sidenav strong {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #636d77;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

    .faux-link:after, .faux-link:before, .sidenav a:after, .sidenav a:before, .sidenav strong:after, .sidenav strong:before {
        display: table;
        content: "";
        line-height: 0;
    }

    .faux-link:after, .sidenav a:after, .sidenav strong:after {
        clear: both;
    }

a, .sidenav li strong {
    color: $theme-color-black;
    border-radius: 4px;
    font-weight: 600;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.hover-link a:hover {
    background-color: rgba(36, 100, 79, 0.50);
}

.hover-div:hover {
    background-color: rgba(27, 99, 71, 0.05);
}

/*.hover-div-hide {
    display: none;
}

.hover-div-show:hover + .hover-div-hide {
    display: block;
    color: red;
}*/


#hover-div-popup{
    display: none;
}

#hover-div-popup-trigger:hover #hover-div-popup {
    display: block;
}


.align-items-center {
    align-items: center;
}

.ml-xs {
    margin-left: 4px !important;
}

.flex > svg {
    flex-shrink: 0;
    flex-grow: 0;
}

svg, .sidenav a svg, svg {
    /*  color: #88929e !important;*/
}

    svg:hover {
        color: green !important;
    }

/*End: SIDE NAV*/

a:hover {
    color: $theme-color;
    text-decoration: none;
}

.active a {
    background-color: rgba(215, 215, 215, 0.44);
}

.btn-link {
    color: $theme-color;
    text-decoration:none;
    /*#277f6a ziprecruiter.com button color TODO: Delete this line*/
}

    .btn-link:hover {
        color: inherit;
        text-decoration: none;
    }



app {
    position: relative;
    /*display: flex;*/
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
}

    .sidebar .navbar-brand {
        font-size: 1.1rem;
        color: white;
    }

.content {
    padding-top: 1.1rem;
}

.navbar {
    /*background-image: linear-gradient(90deg,var(--fabric-theme-lighter,#82af13),var(--fabric-theme-base,#527a00));*/
    background-image: linear-gradient(90deg,var(--fabric-theme-lighter,#5E820C),var(--fabric-theme-base,#527A00));
    height: 4rem;
}

    .navbar::after {
        content: "";
        background-image: -webkit-linear-gradient(0deg,#c0e94f,#82af13);
        background-image: -moz-linear-gradient(0deg,#c0e94f 0,#82af13 100%);
        background-image: -o-linear-gradient(0deg,#c0e94f 0,#82af13 100%);
        background-image: -ms-linear-gradient(0deg,#c0e94f 0,#82af13 100%);
        background-image: linear-gradient(90deg,#c0e94f,#82af13);
        background-image: -webkit-linear-gradient(0deg,var(--fabric-theme-lightest,#c0e94f),var(--fabric-theme-lighter,#82af13));
        background-image: -moz-linear-gradient(0deg,var(--fabric-theme-lightest,#c0e94f) 0,var(--fabric-theme-lighter,#82af13) 100%);
        background-image: -o-linear-gradient(0deg,var(--fabric-theme-lightest,#c0e94f) 0,var(--fabric-theme-lighter,#82af13) 100%);
        background-image: -ms-linear-gradient(0deg,var(--fabric-theme-lightest,#c0e94f) 0,var(--fabric-theme-lighter,#82af13) 100%);
        background-image: linear-gradient(90deg,var(--fabric-theme-lightest,#c0e94f),var(--fabric-theme-lighter,#82af13));
        height: 3px;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
    }

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    /*outline: 1px solid #26b050;*/
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.form-label { /*Non-BS style*/
    font-weight: 500;
    margin-bottom: 0.25rem;
}
/*Imported custom.css styles===========================================*/


/*#region Drag & Drop files ===========================================*/

.dropzone-container {
    /*min-height: 3rem;*/
    /*overflow:hidden;*/
    padding: 0rem;
    border: 1px solid #ced4da;
}

.dropzone {
    /*    border: 3px dashed steelblue;*/
    margin: 0rem;
    padding: 0rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    color: #444;
    cursor: pointer;
    position: relative;
    height: 100%;
    /*background-color:aqua;*/
}

    .dropzone:hover {
        background-color: #f3f3f3;
        box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
        color: #333;
    }

    .dropzone input[type=file] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        text-align: left;
    }

    .dropzone span {
        /*width: 100%;*/
        height: 100%;
        text-align: left;
        min-height: 2rem;
        padding-top:0.5rem;
        padding-left: 0.5rem;
    }


.dropzone-drag {
    /*    background-color: #bcff97;*/
    outline: 2px dashed brown;
}
/*#endregion ==============================================END*/


/*#region Begin:Bootstrap Override=========================*/

.form-control {
    font-size: 0.875rem;
    border-radius: unset;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}

.alert-dismissible .close {
    padding: .5rem 1.25rem;
    color: inherit;
}

.border-bottom-only-last {
    border-bottom: none;
}
    .border-bottom-only-last:last-child div {
        border-bottom: 1px solid brown !important;
        /*#dee2e6*/
    }
.border-bottom-ignore-last:last-child {
    border-bottom: none
}

.card {
    border-radius: .15rem;
}

    .card .no-radius {
        border-radius: 0rem;
    }

    .card .no-radius-top {
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
    }

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent; /*rgba(0,0,0,.03); */
    border-bottom: 0.01px solid rgba(0,0,0,.05);
}

.card-header-module-top {
    padding: .75rem 0.15rem;
}

.card-filter-panel {
    border-radius: 0rem;
    border-top: 0rem;
}

.card-padding-1 {
    padding: .25rem;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: transparent; /*rgba(0,0,0,.03);*/
    border-top: none; /*1px solid rgba(0,0,0,.125);*/
}

.list-group-item {
    border-radius: 0 !important;
}

.btn {
    border-radius: .1rem;
}

.btn-primary {
    color: #fff;
    background-color: $theme-color; /*#1b6ec2;*/
    border-color: #1861ac;
}
.btn-primary:hover {
    color: #fff;
    background-color: $theme-color; /*#1b6ec2;*/
    border-color: #1861ac;
}

.btn-outline-primary {
    color: $theme-color;
    border-color: $theme-color;
}
.btn-outline-primary:hover {
    color: $theme-color;
    border-color: $theme-color;
}

    .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: $theme-color;
        border-color: $theme-color;
    }

 /*4018*/
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #527A00;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: rgba(99, 109, 119, 0.65);
}
/*#endregion End:Bootstrap Override========================END*/


/*#region End:Bootstrap Supplement=========================*/
.text-light {
    color:#c3c3c3!important;
}
/*#endregion End:Bootstrap Supplement======================END*/


.wrapper-l {
    padding: 24px !important;
    padding-top: 24px !important;
    padding-right: 24px !important;
    padding-bottom: 24px !important;
    padding-left: 24px !important;
}

.one-fourth {
    width: 25% !important;
}

.three-fourths {
    width: 75% !important;
}

.half {
    width: 50% !important;
}

min-height-300px {
    min-height: 300px;
}

.module-column {
    margin-bottom: 32px;
}

/*BEGIN: Profile & Logo Avatar*/
.avatar, .avatar-text {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-shadow: none;
    -o-object-fit: cover;
    object-fit: cover;
    background-color: rgba(234, 239, 245, 1); /*(11, 62, 146, 0.1);*/
    color: purple;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 1px;
}
  
.avatar-text {
    content: "U+1F464";
}

.avatar-profile {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 2px;
    opacity: 1;
}

.avatar-profile-sm {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 2px;
    opacity: 1;
}
.avatar-profile-tiny {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 2px;
    opacity: 1;
}

.avatar-logo {
    border-radius: 1%;
    width: 90px;
    height: 90px;
    padding: 2px;
    opacity: 1;
}

.avatar-logo-sm {
    border-radius: 1%;
    width: 50px;    
    height: 50px;
    padding: 2px;
    opacity: 1;
}
.avatar-logo-tiny {
    border-radius: 1%;
    width: 36px;
    height: 36px;
    padding: 2px;
    opacity: 1;
}

.avatar-navmenu-profile-sm {
    border: 1px solid #555;
    width: 32px;
    height: 32px;
    padding: 1px;
    opacity: 1;
}

/*END: Profile & Logo Avatar*/

.filter-column {
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 1px;
    min-width: 240px;
    max-width: 300px;
}


.filter-content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
}

    .filter-content.filter-content-scrollable {
        max-height: 260px;
        padding-right: 1rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .filter-content input {
        border: 1px solid #ced4daAA;
        padding-top: 0.3rem;
        padding-left: 0.3rem;
        padding-left: 0.3rem;
    }

.search-result-column {
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.grid {
    margin: 0 0 0 -24px;
    padding: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -24px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.h-adj-full {
    height: calc(100% - 4rem - 10px) !important;
    height: -o-calc(100% - 4rem - 10px) !important; /* opera */
    height: -webkit-calc(100% - 4rem - 10px) !important; /* google, safari */
    height: -moz-calc(100% - 4rem - 10px) !important; /* firefox */
}

.h-min-75 {
    min-height: 75%;
}

.h-full {
    height: inherit !important;
}

.size-36{

}

/*.container, .navbar-fixed-bottom .container, .navbar-fixed-top .container, .navbar .container {
    width: 1180px;
}*/
.container {
    margin-right: auto;
    margin-left: auto;
}

.container-body {
    padding-top: .25rem !important;
}


.cb-pane, .module-content, .profile, .scrollable-list {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(51,62,73,.1);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.module-content {
    position: relative;
}

.hide {
    display: none !important;
}

form {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.page-header {
    padding-top: 1rem;
    padding-bottom: 0.3rem;
}

.page-header-title a {
    font-size: 1.25rem;
    color: #636d77;
    text-transform: none;
}

/*.module-header:after, .module-header:before {
    display: table;
    content: "";
    line-height: 0
}
    .module-header:after {
        clear: both
    }*/

.module-header h3 {
    float: left;
    margin-bottom: 16px;
    font: 700 14px -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,sans-serif;
    text-transform: uppercase;
    color: #636d77;
}

    .module-header h3 span.normal {
        font: 400 13px -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,sans-serif;
        text-transform: none;
    }

    .module-header h3 .label {
        margin-left: 5px;
        text-transform: none
    }



    .module-header h3 .simple-link {
        font: 700 14px -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,sans-serif;
        text-transform: none;
        margin-left: 10px
    }

        .module-header h3 .simple-link:after {
            vertical-align: middle;
            margin-left: 0
        }

.module-subheader {
    box-sizing: border-box;
    padding: 16px 24px;
    background-color: #f9f9f9
}

    .module-subheader h4 {
        font: 600 18px -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,sans-serif
    }

    .module-subheader .label {
        margin-left: 5px;
        padding: 1px 4px 2px
    }

.module-subheader--top {
    border-top: none;
    border-radius: 4px 4px 0 0
}


.module-content {
    position: relative
}


.filter-header {
    position: relative;
    padding-bottom: 0px;
    background-color: transparent;
    border-bottom: none;
    /*    padding-top: 24px;
    margin-top: 24px;*/
}

    .filter-header button {
        width: 100%;
        float: left !important;
        text-align: left !important;
        border-radius: 0 !important;
        font-weight: 500;
        font-size: 14px;
    }

        .filter-header button:visited {
            text-decoration: none;
        }

        .filter-header button:hover {
            text-decoration: none;
        }

        .filter-header button:active {
            text-decoration: none;
        }

    .filter-header.top {
        line-height: 1.1em;
        border-radius: 4px 4px 0 0;
        border-top: none;
        padding-top: 0;
        margin-top: 0
    }

.filter-header-menu {
    padding-bottom: 0px;
    background-color: transparent; /*rgba(0,0,0,.03); */
    border-bottom: none;
}

.selected-filters {
    padding-top: 8px;
}

    .selected-filters:after, .selected-filters:before {
        display: table;
        content: "";
        line-height: 0;
    }

    .selected-filters:after {
        clear: both;
    }




.caption1 {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase
}

    .caption1.volcanic-ash {
        color: #636d77
    }

    .caption1.tango {
        color: #f0690f
    }


.stat-summary-number {
    display: block;
}

.stat-summary-label {
    display: block;
}



button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

button, input {
    line-height: normal;
}

    button, input[type="button"], input[type="reset"], input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
        appearance: button;
    }

    button, input[type="button"], input[type="checkbox"], input[type="radio"], input[type="reset"], input[type="submit"], label, select {
        cursor: pointer;
    }

.radio-bar {
    padding: 0.1rem;
    overflow:hidden;
}
    .radio-bar input[type="radio"] {
        display: none;
    }
.radio-bar span {
    padding: 0rem;
    cursor: pointer;
    background-color: transparent !important;
    display: inline-block;
    overflow: hidden;
}
.radio-bar label {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    color: #495057;
    cursor: pointer;
    max-height: 22px;
}
    .radio-bar :hover {
        /*color: #ffffff;*/
        background-color: $theme-color-light;
    }
    .radio-bar span :hover {
        background-color: transparent;
    }
    .radio-bar input[type="radio"]:checked + span {
        color: #ffffff;
    }
    .radio-bar input[type="radio"]:checked + label {
        background-color: $theme-color;
    }


.pull-right {
    float: right;
}

/*#redactor-modal[style] .redactor-modal-delete-btn[style], .btn--tertiary-danger {
    vertical-align: unset;
    border-radius: 0;
    height: auto;
    padding: 0;
    color: #d5351a;
    background-color: transparent;
    transition: color .1s ease-out;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-property: color;
}

    #redactor-modal[style] .redactor-modal-delete-btn[style]:after, #redactor-modal[style] .redactor-modal-delete-btn[style]:before, .btn--tertiary-danger:after, .btn--tertiary-danger:before {
        display: inline-block !important;
        vertical-align: text-bottom;
    }

    #redactor-modal[style] .redactor-modal-delete-btn[style]:before, .btn--tertiary-danger:before {
        margin-right: 4px;
    }

    #redactor-modal[style] .redactor-modal-delete-btn[style]:after, .btn--tertiary-danger:after {
        margin-left: 4px;
    }
*/
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
    line-height: 1;
    color: inherit;
    text-rendering: optimizelegibility;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.h2, h2 {
    font-size: 18px;
}

.h3, h3 {
    font-size: 17px;
    margin-bottom: .50rem;
    font-weight: 600;
    line-height: 1.2;
}

.h4, h4 {
    font-size: 16px;
    margin-bottom: .40rem;
    font-weight: 600;
    line-height: 1.2;
}

.h5, h5 {
    font-size: 15px;
    margin-bottom: .30rem;
    font-weight: 500;
    line-height: 1.1;
}

.h6, h6 {
    font-size: 14px;
    margin-bottom: .20rem;
    font-weight: 500;
    line-height: 1.1;
}

.medium, medium {
    font-size: 90%;
    font-weight: 400;
}

/*Begin: Custom Theme Styles*/

.text-theme-link {
    color: $theme-color !important;
    text-decoration: none !important;
}

.text-theme {
    color: $theme-color !important;
}

.text-theme-dark {
    color: $theme-color-dark !important;
}

.text-theme-black {
    color: $theme-color-black !important;
}

/*End: Custom Theme Styles*/

.module-header h5 {
    line-height: normal;
    text-transform: uppercase;
    color: #636d77;
    font-size: 13px;
}

strong {
    font-weight: 600;
}

.flag {
    display: table;
    width: 100%;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

ol, ul {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}

ol, ul {
    padding: 0;
    margin: 0 0 8px 16px;
    list-style: initial;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 16px;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: initial;
}

    .activities, .agenda ol, ul, .application-form__questions, .avatar-list, .bordered-list, ul, .data-rows, .dropdown__list, .dropdown__toggles, .expandable-list, .expandable-list__inner, .feed, .filter-section ul, .hashtags, .jobs, .list-horizontal-l, .list-horizontal-m, .list-horizontal-s, .list-horizontal-xl, .list-horizontal-xs, .list-horizontal-xxl, .list-horizontal-xxs, .list-horizontal-xxxl, .list-horizontal-z, .list-vertical-l, .list-vertical-m, .list-vertical-s, .list-vertical-xl, .list-vertical-xs, .list-vertical-xxl, .list-vertical-xxs, .list-vertical-xxxl, .list-vertical-z, .members__selected, .pack, .padded-list, .pipeline, .services, ul, .social-list, ul, .steps, .tabs, .tabs-material, .tabs-simple, .tags-list, .theme, .theme-preview .jobs, .themes, .ui-slider__increments, ul, ol.inline-list, ul.inline-list, ul.search-results {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        list-style-position: initial;
        list-style-image: initial;
        list-style-type: none;
    }

.flag .flag__section {
    display: table-cell;
    vertical-align: middle;
}

.btn-icon {
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: normal;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.filter-toggle {
    position: absolute;
    top: 24px;
    right: 0;
}

.module-header.top .filter-toggle {
    top: 0;
}

li {
    line-height: 20px;
}

.filter-section li {
    margin-bottom: 8px;
    position: relative;
}

.separator-top-s {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #e1e6eb;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(225, 230, 235);
}

.checkbox, .radio {
    display: block;
    line-height: 20px;
}

.separator-top-s.porcelain {
    border-color: #f2f4f5;
    border-top-color: rgb(242, 244, 245);
    border-right-color: rgb(242, 244, 245);
    border-bottom-color: rgb(242, 244, 245);
    border-left-color: rgb(242, 244, 245);
}

.filter-section li:last-child {
    margin-bottom: 0;
}

.svg-fill * {
    color: currentColor;
    fill: currentColor;
}

.svg-1 svg {
    width: 1rem;
    height: 1rem;
}

.svg-2 svg {
    width: 1.25rem;
    height: 1.25rem;
}

.svg-3 svg {
    width: 1.5rem;
    height: 1.5rem;
}

.tool-icon button {
    width: 2rem;
}

.tool-icon *:hover {
    color: green;
}

svg[class*="svg"] {
    display: inline-block;
    fill: transparent;
    color: currentColor;
}

.btn-icon svg {
    color: #88929e;
    transition: color .1s ease-out;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-property: color;
}

.font-icon-xs {
    font-size: 0.75rem;
}
.font-icon-sm {
    font-size: 1rem;
}
.font-icon-md {
    font-size: 1.15rem;
}
.font-icon-lg {
    font-size: 1.25rem;
}
.font-icon-xl {
    font-size: 1.50rem;
}
.font-icon-xxl {
    font-size: 1.75rem;
}

label {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: inline-block;
    max-width: 100%;
    color: $theme-color-black;
}

.flex {
    display: flex;
}

.checkbox label, .radio label {
    min-height: 15px;
    color: $theme-color-black;
}

.filter-section .disabled label {
    color: #636d77;
    cursor: default;
}

input, textarea {
    color: $theme-color-black;
}

.filter-input {
    margin-top: 4px;
}

input[type="checkbox"]:disabled, input[type="radio"]:disabled {
    cursor: not-allowed;
}

.checkbox input[type="checkbox"], .radio input[type="radio"] {
    margin-right: 4px;
    vertical-align: initial;
}

.flex-grow {
    flex-grow: 1;
}

.ml-s {
    margin-left: 8px !important;
}

.inline-block {
    display: inline-block !important;
}

.label {
    font-stretch: normal;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-rendering: geometricPrecision;
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 100%;
    font-style: normal;
    -webkit-font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: #f2f4f5;
    border: 0 solid transparent;
    border-radius: 16px;
    color: #636d77;
    height: 23px;
    line-height: 23px;
    padding: 0 8px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    flex-shrink: 0;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(242, 244, 245);
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 8px;
}

.label--volcanic-ash {
    background-color: #636d77;
    color: #fff;
}

    .label--volcanic-ash.label--inverse {
        background-color: #e1e6eb;
        color: #636d77;
    }




/*#region Begin:Alert Message */
.docalert {
    display: flex;
    padding: 5px;
    margin: 5px;
    background-color: #FFFFFF;
    color: #5b5b5b;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 7px 7px 5px rgba(0, 0, 0, 0.19), 10px 12px 20px 10px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    align-items: center;
}

.docalert-icon {
    width: 30px;
    /*margin: 3px;*/
    font-size: large;
    text-align: center;
}

.docalert-msg {
    display: inline-block;
    content: '';
    margin: 1px;
    border-left: 1px solid #E0E0E0;
    padding-left: 10px;
    margin-left: 5px;
    line-height: 1.8;
}

.docalert-msg-info {
    /*border-color: #45ABCD;*/
}

    .docalert-msg-info > strong {
        color: #45ABCD;
    }

.docalert-msg-success {
    /*border-color: #80D651;*/
}

    .docalert-msg-success > strong {
        color: #80D651;
    }

.docalert-msg-warning {
    border-color: #FEAF20;
}

    .docalert-msg-warning > strong {
        color: #FEAF20;
    }

.docalert-msg-danger {
    border-color: #d73814;
}

    .docalert-msg-danger > strong {
        color: #d73814;
    }


.docalert-msg::before {
}

/*#endregion End:Alert Messages*/



/*TEST*/

.panel-title:after {
    font-family: FontAwesome;
    content: "\f107";
    float: right;
    color: grey;
}

.panel-title[aria-expanded="true"]:after {
    content: "\f106";
}


/*eg: 2*/
[data-bs-toggle="collapse"] .fa:before {
    content: "";
    float: right;
    color: grey;
    /*  
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 24 24' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    content: "";
    background-repeat: no-repeat;*/
    /*  display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: 1rem 1rem;*/
}

[data-bs-toggle="collapse"].collapsed .fa:before {
    content: "";
    float: right;
    color: grey;
    /*  display: inline-block;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 24 24' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/></svg>");
    content: "";
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    */
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


/*#region Page Specific Styles */

.talentpool-label {
    color: #6c757d !important;
    text-align: right;
}

.talentpool-data{
    color: $theme-color-black;
}

.talentpool-bio-label{
    color: #3692b1;
}

.talentpool-exp-label {
    color: #3692b1;
}

/*#endregion */

.steps-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: $theme-color;
}


.steps-buttons-next {
    display: inline-flex;
    align-items: center;    
    color: $theme-color;
}

.steps-buttons-prev {
    display: inline-flex;
    align-items: center;
    color: $theme-color;
}

/*IOCNS*/
.bi-caret::before {
    display: inline-block;
    content: "";
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}
/*IOCNS END*/


/*BEGIN - Smart wizard*/


/*END - Smart wizard*/


